* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato";
}
html {
  font-size: 10px;
}
.content-wrapper {
  margin: 0 auto;
  max-width: 125rem;
}
.icons {
  display: none;
}
.icon {
  height:1.4rem;
  width:1.4rem;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*section + section {
  border-top: solid 1px black;
}*/
section .title {
  color: #303030;
  font-size: 7.2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
}
section .subtitle {
  color: #606060;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 6.5rem;
}
section a {
  font-size: 1.6rem;
}

/********************************************************************************/

header {
  font-size: 1.6rem;
  padding: 3rem 0;
  border-bottom: solid 0.1rem #e5e5e5;
  margin-bottom: 3rem;
}

header nav, header .logo, nav ul, nav li, header .header-actions, header .header-search{
  display: inline-block;
  margin: 0;
}
header .logo {
  line-height: 0;
  vertical-align: top;
  margin-top: 0.8rem;
}

nav li a, .header-additional-icons .header-actions a {
  display: inline-block;
  padding: 2rem 2rem;
  text-decoration: none;
  color: #303030;
  font-weight: 300;
  background: white;
}
nav li a:hover {
  background: #303030;
  color:white;
}

header .header-additional-icons {
  float: right;
}
header .header-actions a + a {
  margin-left: 3rem;
}
header .header-search {
  margin-left: 3rem;
  text-align: center;
  padding: 1.5rem;
  border: solid 0.1rem #303030;
}
.main-content {
  font-size: 1.6rem;
}

/********************************************************************************/

section.new-arrivals {
  height: 50rem;
  font-size: 1rem;
  text-align: center;
}
.new-arrivals .check-new-arrivals {
  padding: 2.5rem 3.5rem;
  color: #606060;
  background: transparent;
  border: solid 0.1rem #303030;
  text-transform: uppercase;
  text-decoration: none;
}
.new-arrivals .check-new-arrivals:hover, .new-arrivals .check-new-arrivals:active {
  color: white;
  background: #606060;
  border: solid 0.1rem white;
}

section.gallery {
  background: yellow;
}

.gallery .img-wrapper {
  width: 25%;
  height: 29.5rem;
  display: inline-block;
  float: left;
}
.gallery .img-wrapper-2x {
  height: 59rem;
}
.gallery .img-wrapper-2x:last-child {
  position: relative;
  margin-top: -29.5rem; /* I needed it to pull the content below it too*/
  float: right;

}
.gallery .img-wrapper-wrapper {
  clear:both;
  width: 75%;
  display: inline-block;
}

.gallery .img-wrapper-wrapper .img-wrapper{
  width: 33.33333%;
}
.gallery .img-wrapper.no-float {
  /*clear:both;*/
}
.gallery .img-wrapper:nth-child(1) {background: orange;}
.gallery .img-wrapper:nth-child(2) {background: red;}
.gallery .img-wrapper:nth-child(3) {background: black;}
.gallery .img-wrapper:nth-child(4) {background: green;}
.gallery .img-wrapper:nth-child(5) {background: lime;}
.gallery .img-wrapper:nth-child(6) {background: gray;}
.gallery .img-wrapper:nth-child(7) {background: purple;}
.gallery .img-wrapper:nth-child(8) {background: #86e;}

/********************************************************************************/

section.sign-up {
  height: 45rem;
  font-size: 0.5rem;
  text-align: center;
}
.sign-up .subtitle {
  font-size: 1.8rem;
}

form.inline fieldset {
  border: none;
}
form.inline legend {
  display: none;
}
form.inline .controls-group {
  width: 50%;
  margin: 0 auto;
}
form.inline input, form.inline button {
  line-height: 6.1rem;
  font-size: 1.8rem;
  margin: 0;
  float: left;
}
form.inline input[type="email"] {
  width: 47.5rem;
  padding-left: 1rem;
  color: #303030;
}
form.inline button[type="submit"], form.inline button {
  width : 9.5rem;
  background: #f68236;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  border: solid 1px #e5e5e5;
  border-left: none;
}
/********************************************************************************/

footer {
  font-size: 1.6rem;
  margin-top: 3rem;
  /*border-top: solid 1px black;*/
}
footer .column ul {
  padding: 0;
}
footer .column a, footer .footer-social {
  padding: 0.3rem;
  font-size: 1.2rem;
}
footer .column li {
  display: block;
}
footer .column li + li {
  margin-top: 0.3rem;
}
footer .column a:hover {
  text-decoration: underline;
  background: transparent;
  color: #303030;
}
footer .column {
  vertical-align: top;
  padding: 1.5rem;
  display: inline-block;
  width: 25%;
  float:left;
}
footer .column + .column {
  border-left: solid 0.1px #606060;
}
footer .title {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}
/*.test-div {
  height: 200px;
  border: 2px solid black;
  background-color: green;
}

.test-div .test-div {
  border: none;
}
.test-div + .test-div {
  border-left: 2px solid black;
}*/

.row, form {
  width: 100%;
}
.row:before, form:before, .inline-controls-2:before,
.row:after, form:after, .inline-controls-2:after {
  content: "";
  display: table;
}
.row:after, form:after, .inline-controls-2:after {
  clear:both;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding: 0 2rem;
}
.col-1 {
  width: 8.33333333333%;
}
.col-2 {
  width: 16.6666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333333333%;
}
.col-5 {
  width: 41.6666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.3333333333%;
}
.col-8 {
  width: 66.6666666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.3333333333%;
}
.col-11 {
  width: 91.6666666667%;
}
.col-12 {
  width: 100%;
}
.col-offset-1 {
  margin-left: 8.33333333333%;
}
.col-offset-2 {
  margin-left: 16.6666666667%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.3333333333%;
}
.col-offset-5 {
  margin-left: 41.6666666667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.3333333333%;
}
.col-offset-8 {
  margin-left: 66.6666666667%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.3333333333%;
}
.col-offset-11 {
  margin-left: 91.6666666667%;
}
.col-offset-12 {
  margin-left: 100%;
}
.responsive {
  max-height: 100%;
  max-width: 100%;
}
section {

}
.checkout-products-list .checkout-products-header {
  color: #cbcbcb;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin: 0;
}

.checkout-products-item {
  color: #303030;
  font-size: 1.4rem;
}

.checkout-products-item .product-name {
  font-weight: bold;
  text-transform: uppercase;
}
.checkout-products-item .product-info {
  color: #606060;
  font-size: 1.2rem;
  font-style: italic;
}
.checkout-products-item .product-size, .checkout-products-item .product-color {
  text-transform: capitalize;
}
/* flipping odd and even because of the header inside the products list */
.checkout-products-item:nth-child(even) {
  padding: 2rem 0;
  border-top: 0.1rem solid #cbcbcb;
  border-bottom: 0.1rem solid #cbcbcb;
}

.checkout-products-item:nth-child(odd), .checkout-summary {
  background-color: #fdfdfd;
  margin: 0.3rem 0;
  padding: 1.7rem 0;
}

.product-img-wrapper {
  padding: 0;
  height: 10rem;
}
.product-img-wrapper img {
  vertical-align: top;
}
.checkout-products-item > div {
  position: relative;
  top: 5rem; /*calculated based on height of box won't change*/
  transform: translateY(-50%);
}
.checkout-products-item .product-description .product-name, .checkout-products-item .product-description .product-info {
  margin: 0;
  margin-top: 0.7rem;
}
.checkout-summary .subtotal, .checkout .changed-value{
  color:#f68236;
}
.checkout {
  text-align: center;
}
.checkout .title {
  font-size: 3.6rem;
}
.checkout .subtitle {
  font-size:1.8rem;
  font-style: normal;
  text-transform: none;
}
.checkout header {
  margin: 5rem 0;
  border:none;
  padding:0
}
section.checkout {
  margin-top: 2rem;
  padding: 5rem 0 3rem;
}

section.checkout.colored {
  background-color: #fdfdfd;
}
form .control-group{
    text-align: left;
}
form .control-group label {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #949494;
}
form .control-group input, form .control-group select {
  margin-top: 0.8rem;
}

input, select {
  width:100%;
}
input[type="checkbox"], input[type="radio"] {
  width: auto;
}

.inline-controls-2 .inline-control {
  width: 50%;
  float: left;
}

form .inline-control:first-child {
  padding: 0 1rem 0 0;
}

form .inline-control + .inline-control {
  padding: 0 0 0 1rem;
}

form .control-group + .control-group{
  margin-top: 3rem;
}
form input[type="checkbox"] {
  margin-right: 0.7rem;
}
form input[type="checkbox"] + label {
  text-transform: none;
}

.payment-options .subtotal {
  font-size: 1.8rem;
}
.payment-options .currency {
  font-style: italic;
}

form button[type="submit"] {
  background-color: #f68236;
  color: white;
  padding: 1.2rem 0;
  width: 100%;
  font-size: 1.6rem;
  border: none;
  font-weight: bold;
}
