* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0 auto;
  width: 125rem;
}
.icons {
  display: none;
}
.icon {
  height:1.4rem;
  width:1.4rem;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*section + section {
  border-top: solid 1px black;
}*/
section .title {
  color: #303030;
  font-size: 7.2em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2rem;
}
section .subtitle {
  color: #606060;
  text-transform: uppercase;
  font-style: italic;
  font-size: 2.4em;
  font-weight: 300;
  margin-bottom: 6.5rem;
}
section a {
  font-size: 1.6rem;
}

/********************************************************************************/

header {
  font-size: 1.6rem;
  padding: 3rem 0;
  border-bottom: solid 1px #e5e5e5;
}

header nav, header .logo, nav ul, nav li, header .header-actions, header .header-search{
  display: inline-block;
  margin: 0;
}
header .logo {
  line-height: 0;
  vertical-align: top;
  margin-top: 0.8rem;
}

nav li a, .header-right .header-actions a {
  display: inline-block;
  padding: 2rem 2rem;
  text-decoration: none;
  color: #303030;
  font-weight: 300;
  background: white;
}
nav li a:hover {
  background: #303030;
  color:white;
}

header .header-right {
  float: right;
}
header .header-actions a + a {
  margin-left: 3rem;
}
header .header-search {
  margin-left: 3rem;
  text-align: center;
  padding: 1.5rem;
  border: solid 1px #303030;
}
.main-content {
  font-size: 1.6rem;
}

/********************************************************************************/

section.new-arrivals {
  height: 50rem;
  font-size: 1rem;
  text-align: center;
}
.new-arrivals .check-new-arrivals {
  padding: 2.5rem 3.5rem;
  color: #606060;
  background: transparent;
  border: solid 1px #303030;
  text-transform: uppercase;
  text-decoration: none;
}
.new-arrivals .check-new-arrivals:hover, .new-arrivals .check-new-arrivals:active {
  color: white;
  background: #606060;
  border: solid 1px white;
}

section.gallery {
  background: yellow;
}

.gallery .img-wrapper {
  width: 25%;
  height: 29.5rem;
  display: inline-block;
  float: left;
}
.gallery .img-wrapper-2x {
  height: 59rem;
}
.gallery .img-wrapper-2x:last-child {
  position: relative;
  margin-top: -29.5rem; /* I needed it to pull the content below it too*/
  float: right;

}
.gallery .img-wrapper-wrapper {
  clear:both;
  width: 75%;
  display: inline-block;
}

.gallery .img-wrapper-wrapper .img-wrapper{
  width: 33.33333%;
}
.gallery .img-wrapper.no-float {
  /*clear:both;*/
}
.gallery .img-wrapper:nth-child(1) {background: orange;}
.gallery .img-wrapper:nth-child(2) {background: red;}
.gallery .img-wrapper:nth-child(3) {background: black;}
.gallery .img-wrapper:nth-child(4) {background: green;}
.gallery .img-wrapper:nth-child(5) {background: lime;}
.gallery .img-wrapper:nth-child(6) {background: gray;}
.gallery .img-wrapper:nth-child(7) {background: purple;}
.gallery .img-wrapper:nth-child(8) {background: #86e;}

/********************************************************************************/

section.sign-up {
  height: 45rem;
  font-size: 0.5rem;
  text-align: center;
}
.sign-up .subtitle {
  font-size: 1.8rem;
}

form.inline fieldset {
  border: none;
}
form.inline legend {
  display: none;
}
form.inline .controls-group {
  width: 50%;
  margin: 0 auto;
}
form.inline input, form.inline button {
  line-height: 6.1rem;
  font-size: 1.8rem;
  margin: 0;
  float: left;
}
form.inline input[type="email"] {
  width: 47.5rem;
  padding-left: 10px;
  color: #303030;
}
form.inline button[type="submit"], form.inline button {
  width : 9.5rem;
  background: #f68236;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  border: solid 1px #e5e5e5;
  border-left: none;
}
/********************************************************************************/

footer {
  font-size: 1.6rem;
  /*border-top: solid 1px black;*/
}
footer .column ul {
  padding: 0;
}
footer .column a, footer .footer-social {
  padding: 0.3rem;
  font-size: 1.2rem;
}
footer .column li {
  display: block;
}
footer .column li + li {
  margin-top: 0.3rem;
}
footer .column a:hover {
  text-decoration: underline;
  background: transparent;
  color: #303030;
}
footer .column {
  vertical-align: top;
  padding: 1.5rem;
  display: inline-block;
  width: 25%;
  float:left;
}
footer .column + .column {
  border-left: solid 1px #606060;
}
footer .title {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}
